@import url('https://fonts.googleapis.com/css2?family=Jura:wght@691&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.box .boxes, .boxtwo, .albfirst, .albsecond {display:flex; flex-flow: row wrap;}

h1 {
  font-family: 'Jura', sans-serif;
	color:#FF0000;
  border-bottom: 1px solid #CCC;
  word-break: break-all;
  
}

a { 
    text-decoration: none; 
    /* Отменяем подчеркивание у ссылки */
   }
.header {
  padding: 0;
  background: #F4F4F4;
	background-size: cover;
	}

.info {background-color: white;}

.box div {
  font-family: 'Play', sans-serif;
	flex: 1 1 250px;
	margin: 10px;
	border-radius: 5px;
	padding: 10px 10px 0 10px;
	background-color: white;
	display: flex;
	flex-flow: column;
	display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.box {margin-top: auto;}

.boxes { 
	justify-content: center;
	align-items: center;
}
.boxtwo { 
	justify-content: center;
	align-items: center;
}

.image img {
  border-radius: 5px;
	}



/*-----------------Size----------------------------*/

@media (max-width: 500px) {
   .nav { flex-flow: column;}
  .nav a {width: 100%; margin-bottom: 2px;}
  .info {flex: 0 1  250px}
  .info  h1 {width: 100%; margin-bottom: 2px;}
  .boxes{flex: 0 1  250px}
  .boxtwo{flex: 0 1  250px}
  .box {flex: 0 1 250px}
  .box .boxes .boxtwo img {width: 100%; margin-bottom: 2px;}
  .albfirst img {height: 75%; width: 100%; margin-bottom: 2px;}
 }
  
  @media (max-width: 360px) {
    .nav { flex-flow: column;}
  .nav a {width: 100%; margin-bottom: 2px;}
  .info {flex: 0 1  250px}
  .info  h1 {width: 100%; margin-bottom: 2px;}
  .boxes{flex: 0 1  250px}
  .boxtwo{flex: 0 1  250px}
  .box {flex: 0 1 250px}
  .box .boxes .boxtwo img {width: 100%; margin-bottom: 2px;}


  .albfirst img {height: 75%; width: 100%; margin-bottom: 2px;}
 }








		
		
		
		
		
